<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="exercise3.css">
</head>
<body>
<div id="container">
    <div id="header" class="item">
        <h2> Logo</h2>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Projects</a>
        <a href="#">contact</a>
        <a href="#" id="login">Login</a>
    </div>
    <div id="side-left" class="item">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>
    <div id="content" class="item">
        <h1>Welcome</h1>
        <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan nulla egestas lectus
            consectetur consequat id tincidunt arcu. Etiam maximus, neque sit amet imperdiet condimentum,
            orci neque condimentum turpis, eu gravida ante lorem eu diam. Nunc blandit nisi auctor dignissim iaculis.
            Donec a blandit est, vitae sollicitudin ex. Donec non justo quis sapien lacinia porta quis ut nibh.
            Nam ullamcorper, velit vel dapibus pretium, felis mi fermentum nibh, in venenatis urna odio vel lorem.
            Duis aliquet massa quis sapien vulputate, non tristique dui porttitor. Ut dui sapien, bibendum nec
            dapibus in, viverra in nibh. Proin ac rhoncus enim. Maecenas eget orci id orci fringilla condimentum
            ac vitae lacus. Proin scelerisque vestibulum diam vitae auctor. Maecenas et mi nec tortor tincidunt
            maximus non in massa.
        </p>
        <hr>
        <h1>
            Test
        </h1>
        <p>
            Lorem ipsum dolor sit amet
        </p>
    </div>
    <div id="side-right" class="item">
        <p>ADS</p>
        <p>ADS</p>
    </div>
    <div id="footer" class="item">
        <h2> Footer</h2>
    </div>
</div>
</body>
</html>