<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <form th:action="@{/customers/save}" method="post" th:object="${customer}">
        <input type="hidden" th:field="*{id}">
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
            <td>
                <select th:field="*{province.id}">
                    <option th:each="row:${provinces}" th:value="${row.id}" th:text="${row.name}"></option>
                </select>
            </td>
            <td><input type="date" th:field="*{birthDay}"></td>
        </tr>
        <tr>
            <input type="submit">
        </tr>
    </form>
</table>
</body>
</html>