<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a th:href="@{/customers/create}">New Customer</a>
</p>
<table border="1">
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>BirthDay</th>
    <th>Province</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr th:each="row, rowStart:${customers}">
        <td th:text="${rowStart.count}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${#dates.format(row.birthDay, 'dd/MM/yyyy')}"></td>
        <td th:text="${row.province.name}"></td>
        <td><a th:href="@{/customers/{id}/edit(id=*{row.getId()})}"> Edit</a></td>
        <td><a th:href="@{/customers/{id}/delete(id=*{row.getId()})}"> delete</a></td>
    </tr>
    </tbody>

</table>
</body>
</html>
