<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

</head>
<body>
<p>
    <a th:href="@{/create}">ADD</a>
</p>
<table id="musics">
    <thead>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Category</th>
        <th>Music</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="music : ${musics}" th:object="${music}">
        <td th:text="*{name}"></td>
        <td th:text="*{author}"></td>
        <td th:text="*{category}"></td>
        <td th:text="*{link}"></td>
    </tr>
    </tbody>
</table>
<footer th:replace="layout::footer"></footer>
</body>
</html>